#!/usr/bin/make -f

export CLINGODL_BUILD_REVISION =

%:
	dh $@ --with python3

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	  -DCLINGODL_BUILD_REVISION=$(CLINGODL_BUILD_REVISION) \
	  -DCLINGODL_BUILD_TESTS=Off \
	  -DCLINGODL_MANAGE_RPATH=Off
